.editorWrapper {
  padding: 2vw;
  width: 100%;
  max-width: 100%;
}

.ProseMirror {
  padding: 2vw;
  width: 100%;
  background-color: #fff;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror-selectednode {
  outline: 2px solid red;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
  margin: 1em 0;
}

.ProseMirror p.is-editor-empty:first-of-type::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
