.editorWrapper {
  padding: 2vw;
  width: 100%;
  max-width: 100%;
}

.editorControls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.editorControls button {
  border-bottom: 3px solid transparent;
}

.editorControls button.is-active {
  border-bottom: 3px solid black;
}

.ProseMirror {
  padding: 2vw;
  width: 100%;
  background-color: #fff;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror-selectednode {
  outline: 2px solid red;
}

.ProseMirror h1.is-empty:nth-child(1)::before,
.ProseMirror p.is-empty:nth-child(2):last-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
